{% load static %}

<footer class="adminuiux-footer has-adminuiux-sidebar mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md col-lg py-2">
                <span class="small">
                    Copyright @2026, Creatively designed by
                    <a href="https://tekvan.in/" target="_blank">Tekvan</a> on Earth ❤️
                </span>
            </div>
            <div class="col-12 col-md-auto col-lg-auto align-self-center">
                <ul class="nav small">
                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                    <li class="nav-item">|</li>
                    <li class="nav-item"><a class="nav-link" href="#">Terms of Use</a></li>
                    <li class="nav-item">|</li>
                    <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'inventory/assets/js/app5724.js' %}"></script>

<script src="{% static 'inventory/assets/js/ecommerce/ecommerce-auth.js' %}"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();
</script>