{% load static %}

<header class="adminuiux-header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- main sidebar toggle -->
            <button class="btn btn-link btn-square sidebar-toggler" type="button" onclick="initSidebar()">
                <i class="sidebar-svg" data-feather="menu"></i>
            </button>
            <!-- logo -->
            <a class="navbar-brand" href="{% url 'inventory:dashboard' %}">
                <img data-bs-img="light" src="{% static 'inventory/assets/img/tekvan_logo_hd.png' %}" alt="">
                <img data-bs-img="dark" src="{% static 'inventory/assets/img/tekvan_logo_hd.png' %}" alt="">
                <div class="">
                    <span class="h4">Rental<span class="fw-bold"></span><span></span></span>
                    <p class="company-tagline">Inventory Management</p>
                </div>
            </a>

            <!-- right icons button -->
            <div class="ms-auto">
                <!-- dark mode -->
                <button class="btn btn-link btn-square btnsunmoon btn-link-header" id="btn-layout-modes-dark-page">
                    <i class="sun mx-auto" data-feather="sun"></i>
                    <i class="moon mx-auto" data-feather="moon"></i>
                </button>
                <!-- notification dropdown -->
                <button class="btn btn-link btn-square btn-icon btn-link-header position-relative"
                        data-bs-toggle="offcanvas" data-bs-target="#view-notification">
                    <i data-feather="bell"></i>
                    <span class="position-absolute top-0 end-0 badge rounded-pill bg-danger p-1">
                        <small>9+</small>
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
                <!-- profile dropdown -->
                <div class="dropdown d-inline-block">
                    <a class="dropdown-toggle btn btn-link btn-link-header style-none" id="userprofiledd"
                       data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        <div class="row gx-0 d-inline-flex">
                            <div class="col-auto align-self-center">
                                <figure class="avatar avatar-28 rounded-circle coverimg vm">
                                    <img src="{% static 'inventory/assets/img/modern-ai-image/user-1.jpg' %}" alt=""
                                         id="userphotoonboarding2">
                                </figure>
                            </div>
                            <div class="col align-self-center d-none d-xl-block px-2 lh-14 text-start">
    <span class="mb-0 small">
       {{ request.session.username }}
        <br>
        <small class="opacity-75">
            {{ request.session.role_name }}
        </small>
    </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end width-300 pt-0 px-0 sm-mi-45px"
                         aria-labelledby="userprofiledd">
                            <div>
                                <a class="dropdown-item theme-red" href="{% url 'inventory:logout' %}">
                                    <i data-feather="power" class="avatar avatar-18 me-1"></i> Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>